@model ParkyWeb.Models.ViewModels.IndexVM


<div class="container">
    <div class="row pb-4 backgroundWhite">

        @foreach (var nationaPark in Model.NationalParks)
        {
            <div class="container backgroundWhite pb-4">
                <div class="card border">
                    <div class="card-header bg-dark text-light ml-0 row container">
                        <div class="col-12 col-md-6">
                            <h1 class="text-warning">@nationaPark.Name</h1>
                        </div>
                        <div class="col-12 col-md-6 text-md-right">
                            <h1 class="text-warning">State : @nationaPark.State</h1>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="container rounded p-2">
                            <div class="row">
                                <div class="col-12 col-lg-8">
                                    <div class="row">

                                        <div class="col-12">
                                            <h3 style="color:#bbb9b9">
                                                Established: @nationaPark.Established
                                            </h3>
                                        </div>

                                        <div class="col-12">

                                            @if (Model.Trails.Where(trail =>
                                               trail.NationalParkId == nationaPark.Id).Count() > 0)
                                            {
                                            <table class="table table-striped"
                                                   style="border:1px solid #808080 ">
                                                <tr class="table-secondary">
                                                    <th>Trail</th>
                                                    <th>Distance</th>
                                                    <th>Elevation Gain</th>
                                                    <th>Difficulty</th>
                                                </tr>

                                                @foreach (var trails in Model.Trails.Where(trail =>
                                                    trail.NationalParkId == nationaPark.Id))
                                                {
                                                    <tr class="table-secondary">
                                                        <td>@trails.Name</td>
                                                        <td>@trails.Distance miles</td>
                                                        <td>@trails.Elevation ft</td>
                                                        <td>@trails.Difficulty</td>
                                                    </tr>
                                                }
                                            </table>
                                            }
                                            else
                                            {
                                                <p> No trail exists.... </p>
                                            }

                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-lg-4 text-center">

                                    @{ 
                                        var base64 = Convert.ToBase64String(nationaPark.Picture);
                                        var imgageSource = string.Format("data:image/jpg;base64,{0}", base64);
                                    }

                                    <img src="@imgageSource" class="card-img-top p-2 rounded" width="100%" />
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

        <div class="container backgroundWhite pb-4">
            <div class="card border">
                <div class="card-header bg-dark text-light ml-0 row container">
                    <div class="col-12 col-md-6">
                        <h1 class="text-warning"></h1>
                    </div>
                    <div class="col-12 col-md-6 text-md-right">
                        <h1 class="text-warning">State : </h1>
                    </div>
                </div>
                <div class="card-body">
                    <div class="container rounded p-2">
                        <div class="row">
                            <div class="col-12 col-lg-8">
                                <div class="row">
                                    <div class="col-12">
                                        <h3 style="color:#bbb9b9">Established: </h3>
                                    </div>
                                    <div class="col-12">
                                        <table class="table table-striped" style="border:1px solid #808080 ">
                                            <tr class="table-secondary">
                                                <th>
                                                    Trail
                                                </th>
                                                <th>Distance</th>
                                                <th>Elevation Gain</th>
                                                <th>Difficulty</th>
                                            </tr>

                                            <tr>
                                                <td>Trails.Name</td>
                                                <td>Trails.Distance miles</td>
                                                <td>Trails.Elevation ft</td>
                                                <td>Trails.Difficulty</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-4 text-center">
                                <img src="https://via.placeholder.com/150" class="card-img-top p-2 rounded" width="100%" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
















@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome API</h1>
    <p>
        Learn about <a href="https://docs.microsoft.com/aspnet/core">
            building Web apps with ASP.NET Core
        </a>.
    </p>
</div>
